POSTGRES_DB=jarwo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/jarwo
OLLAMA_BASE_URL=http://ollama:11434
TWILIO_ACCOUNT_SID=blablabla
TWILIO_AUTH_TOKEN=bliblibli
TWILIO_PHONE_NUMBER=whatsapp:+67blebleble
